In [95]:
import sqlite3

class PersonRepository:

    table = "person"
    
    def __init__(self,url):
        self.__connection = sqlite3.connect(url)   
        
    def get_all_persons(self):
        try:
            query = f"""
                    SELECT * 
                    FROM {self.table} p
                    """
            cursor = self.__connection.cursor()
            cursor.execute(query)
            results = cursor.fetchall()
            return results
        except Exception as e:
            print(f"Error selecting data: {e}")

    def get_person_by_id(self,person_id):
        try:
            query = f"""
                    SELECT * 
                    FROM {self.table} p
                    WHERE p.id = {person_id}
                    """
            cursor = self.__connection.cursor()
            cursor.execute(query)
            result = cursor.fetchone()
            return result
        except Exception as e:
            print(f"Error selecting data: {e}")

    def create_person(self,name,last_name,age,city):
        try:
            query = f"""
                    INSERT INTO {self.table}
                        (name,last_name,age,city)
                    VALUES('{name}','{last_name}',{age},'{city}')
                    """
            cursor = self.__connection.cursor()
            cursor.execute(query)
            self.__connection.commit()
        except Exception as e:
            print(f"Error creating data: {e}")

    def update_person_name_by_id(self,person_id,name):
        try:
            query = f"""
                    UPDATE {self.table}
                    SET name = '{name}'
                    WHERE id = {person_id}
                    """
            cursor = self.__connection.cursor()
            cursor.execute(query)
            self.__connection.commit()
        except Exception as e:
            print(f"Error updating data: {e}")
            
    def delete_person_by_id(self,person_id):
        try:
            query = f"""
                    DELETE FROM {self.table}
                    WHERE id = {person_id}
                    """
            cursor = self.__connection.cursor()
            cursor.execute(query)
            self.__connection.commit()
        except Exception as e:
            print(f"Error updating data: {e}")

# connection

In [98]:
database_path = "C:\\Users\\Memo\\Dropbox\\maestria - programacion analitica de datos\\clases\\p3 - SQL"
database_name = "simple_person.db"
person_repository = PersonRepository(f"{database_path}\\{database_name}")

# Get all

In [101]:
person_results = person_repository.get_all_persons()
person_results

[(1, 'Mario', 'Bross', 50, 'Bogota'),
 (2, 'Luigi', 'Bross', 40, 'Medellin'),
 (3, 'Donkey', 'Kong', 20, 'Cartagena'),
 (4, 'Bowser', 'Evil', 70, 'Bogota'),
 (5, 'Peach', 'Princess', 25, 'Barranquilla'),
 (6, 'Warrio', 'Bross', 45, 'Santa Marta')]

# Get one

In [61]:
person = person_repository.get_person_by_id(3)
person

(3, 'Donkey', 'Kong', 20, 'Cartagena')

# Insert

In [63]:
person_repository.create_person("Guillermo","DeMendoza",36,"Monteria")

Executing query:
                    INSERT INTO person
                        (name,last_name,age,city)
                    VALUES('Guillermo','DeMendoza',36,'Monteria')

# Update

In [69]:
person_repository.update_person_name_by_id(1,"Boo")

# Delete

In [75]:
person_repository.delete_person_by_id(1)