In [1]:
class Person:

    person_id = None
    name = None
    last_name = None
    age = None
    city = None

    def __str__(self):
        return f"PersonDTO(id={self.person_id}, name={self.name}, last_name={self.last_name}, age={self.age}, city={self.city})"

    def __repr__(self):
        return self.__str__()

In [2]:
class PersonMapper:

    def toDTO(self,sqlResult):
        person = Person()
        person.person_id = sqlResult[0]
        person.name = sqlResult[1]
        person.last_name = sqlResult[2]
        person.age = sqlResult[3]
        person.city = sqlResult[4]      
        return person

In [3]:
import sqlite3

class PersonRepository:

    table = "person"
    
    def __init__(self,url):
        self.__connection = sqlite3.connect(url)  
        self.mapper = PersonMapper()

    def create_person(self,person):
        try:
            query = f"""
                    INSERT INTO {self.table}
                        (name,last_name,age,city)
                    VALUES('{person.name}','{person.last_name}',{person.age},'{person.city}')
                    """
            cursor = self.__connection.cursor()
            cursor.execute(query)
            self.__connection.commit()
        except Exception as e:
            print(f"Error creating data: {e}")

    def get_person_by_id(self,person_id):
        try:
            query = f"""
                    SELECT * 
                    FROM {self.table} p
                    WHERE p.id = {person_id}
                    """
            cursor = self.__connection.cursor()
            cursor.execute(query)
            result = cursor.fetchone()
            person = self.mapper.toDTO(result)
            return person
        except Exception as e:
            print(f"Error selecting data: {e}")
    
    def get_all_persons(self):
        try:
            query = f"""
                    SELECT * 
                    FROM {self.table} p
                    """
            cursor = self.__connection.cursor()
            cursor.execute(query)
            results = cursor.fetchall()
            persons = []
            for r in results:
                person = self.mapper.toDTO(r)
                persons.append( person )
            return persons
        except Exception as e:
            print(f"Error selecting data: {e}")

    def create_person(self,person):
        try:
            query = f"""
                    INSERT INTO {self.table}
                        (name,last_name,age,city)
                    VALUES('{person.name}','{person.last_name}',{person.age},'{person.city}')
                    """
            cursor = self.__connection.cursor()
            cursor.execute(query)
            self.__connection.commit()
        except Exception as e:
            print(f"Error creating data: {e}")

# connection

In [5]:
database_path = "C:\\Users\\Memo\\Dropbox\\maestria - programacion analitica de datos\\clases\\p3 - SQL"
database_name = "simple_person.db"
person_repository = PersonRepository(f"{database_path}\\{database_name}")

# Get all

In [7]:
person_repository.get_all_persons()

[PersonDTO(id=1, name=Mario, last_name=Bross, age=50, city=Bogota),
 PersonDTO(id=2, name=Luigi, last_name=Bross, age=40, city=Medellin),
 PersonDTO(id=3, name=Donkey, last_name=Kong, age=20, city=Cartagena),
 PersonDTO(id=4, name=Bowser, last_name=Evil, age=70, city=Bogota),
 PersonDTO(id=5, name=Peach, last_name=Princess, age=25, city=Barranquilla),
 PersonDTO(id=6, name=Warrio, last_name=Bross, age=45, city=Santa Marta)]

# Get one

In [9]:
person_repository.get_person_by_id(1)

PersonDTO(id=1, name=Mario, last_name=Bross, age=50, city=Bogota)

# Create

In [11]:
person = Person()
person.name = "Guillermo"
person.last_name = "De Mendoza"
person.age = 36
person.city = "Monteria"

person_repository.create_person(person)